body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  animation: fadeInDown 1s ease-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  animation: fadeIn 1s ease-out;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}

nav a.active {
  color: #ffcc00;
}

.menu-icons {
  display: flex;
  align-items: center;
}

.menu-icons a {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #666;
  border-radius: 50%;
}

.menu-icons a.search-icon::before {
  content: "\1F50D";
  font-size: 16px;
  color: #fff;
}

.menu-icons a.instagram-icon::before {
  content: "\1F517";
  font-size: 16px;
  color: #fff;
}

.menu-icons a.cart-icon::before {
  content: "\1F6D2";
  font-size: 16px;
  color: #fff;
}

.menu-icons a.whatsapp-icon::before {
  content: "\1F4F1";
  font-size: 16px;
  color: #fff;
}

.hero-section {
  text-align: center;
  padding: 40px;
  animation: fadeInUp 1s ease-out;
}

.hero-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.about-us,
.services,
.products,
.contact,
.footer,
.contact-me {
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.services,
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card,
.product-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

.service-card img,
.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.service-card:hover,
.product-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.product-actions {
  margin-top: 20px;
}

.buy-button,
.cart-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover,
.cart-button:hover {
  background-color: #555;
}

.footer {
  background-color: #333;
  color: #fff;
  animation: fadeInUp 1s ease-out;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: stretch;
  }

  .menu-links,
  .menu-icons {
    width: 100%;
    text-align: center;
  }

  .menu-icons {
    margin-top: 10px;
  }

  .service-card,
  .product-card {
    width: 100%;
  }

}